.Nav {
  background-color: #799351;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
}

.Nav > ul {
  list-style: none;
  display: flex;
}
.Nav > ul > li {
  margin: 0 10px;
}
